@using User.Models
@{
    UserModel user = (UserModel)ViewData["User"];
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Current user</h4>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">PhoneNumber</th>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>@user.PhoneNumber</td>
                <td>@user.Username</td>
                <td>@user.Role</td>
            </tr>
          
        </tbody>
    </table>
</div>
