@model User.Models.UserModel
@{
    ViewData["Title"] = "Users";
    int row = 0;
}

<div class="text-center">
    <h4 class="display-4">All Users</h4>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">PhoneNumber</th>
                <th scope="col">Username</th>
                <th scope="col">Email Confirmed</th>
            </tr>
        </thead>

        @foreach (var user in Model.Details)
        {
            row++;
            <tbody>
                <tr>
                    <th scope="row">@row</th>
                    <td>@user.PhoneNumber</td>
                    <td>@user.UserName</td>
                    <td>@user.EmailConfirmed</td>
                </tr>

            </tbody>
        }
    </table>
</div>